<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is Open DX demo!</p>
    <p>by Rocky, Cloud Ace, 6:48 PM, September 18th 2020</p>
  </body>
</html>
